@charset "UTF-8";
@font-face {
  font-family: "bananaslip_plus";
  src: url("/fonts/YDWbananaslipplus.otf") format("opentype");
}
html {
  font-size: 16px;
}

body {
  font-family: "Inter", sans-serif;
}

a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

a {
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.header {
  width: 100%;
  height: 64px;
  background: #fff;
}
@media screen and (max-width: 768px) {
  .header {
    height: 54px;
  }
}

.header__inner {
  width: 100%;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header__inner {
    padding: 0 24px;
  }
}

.header__title {
  width: 126px;
  z-index: 20;
}
@media screen and (max-width: 768px) {
  .header__title {
    width: 105px;
  }
}

.header__image {
  width: 100%;
  aspect-ratio: 126/64;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .header__image {
    aspect-ratio: 105/54;
  }
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item:not(:first-child) {
  margin-left: 21px;
}

.header__nav-link {
  font-size: 21px;
  color: #000;
}

.hamburger {
  width: 32px;
  height: 32px;
  position: fixed;
  top: 11px;
  right: 24px;
  z-index: 9999;
}

.hamburger span {
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 4px;
  background: #2095AA;
  position: absolute;
  transition: transform 0.5s, opacity 0.5s;
}

.hamburger span:first-child {
  top: 6px;
}

.hamburger span:nth-child(2) {
  top: 15px;
}

.hamburger span:last-child {
  top: 24px;
}

.hamburger.is-active span:first-child {
  top: 14px;
  transform: rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:last-child {
  top: 14px;
  transform: rotate(45deg);
}

.drawer {
  width: 100%;
  height: 100vh;
  background: #fff;
  display: none;
  transition: display 0.5s;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}

.js-drawer.is-active {
  display: block;
}

.drawer__list {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawer__item:not(:first-child) {
  margin-top: 21px;
}

.drawer__link {
  font-size: 21px;
  color: #000;
}

.fv {
  position: relative;
  width: 100%;
  height: 663px;
  background-image: url(/images/FV-pc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .fv {
    height: 551px;
    background-image: url(/images/FV-sp.jpg);
  }
}

.fv__title {
  font-size: 128px;
  color: #fff;
  font-family: "bananaslip_plus", sans-serif;
  position: absolute;
  top: 211px;
  left: 109px;
}
@media screen and (max-width: 768px) {
  .fv__title {
    font-size: 80px;
    top: 220px;
    left: 24px;
  }
}

.message {
  margin-top: 47px;
}
@media screen and (max-width: 768px) {
  .message {
    margin-top: 48px;
  }
}

.message__inner {
  max-width: 692px;
  margin-inline: auto;
  padding: 0 24px;
}

.message__title {
  text-align: center;
}

.message__subtitle {
  margin-top: 32px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .message__subtitle {
    margin-top: 24px;
    font-size: 18px;
  }
}

.message__text {
  margin-top: 16px;
  font-size: 18px;
}

.service {
  margin-top: 47px;
  padding: 32px 0 174px;
  background-color: rgba(82, 176, 176, 0.3);
  height: 685px;
}
@media screen and (max-width: 1024px) {
  .service {
    margin-top: 48px;
    height: 1076px;
  }
}

.service__inner {
  padding: 0 20px;
  max-width: 909px;
  margin-inline: auto;
}

.service__title {
  text-align: center;
}

.service__text {
  text-align: center;
  margin-top: 16px;
}

.service__list {
  margin-top: 47px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .service__list {
    margin-top: 26px;
  }
}

.service__item {
  width: 336px;
  height: 336px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #2095AA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.service__item:nth-child(1) {
  top: 0;
  left: 0;
}
@media screen and (max-width: 1024px) {
  .service__item:nth-child(1) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.service__item:nth-child(2) {
  top: 0;
  left: 288px;
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .service__item:nth-child(2) {
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.service__item:nth-child(3) {
  top: 0;
  left: 573px;
  z-index: 3;
}
@media screen and (max-width: 1024px) {
  .service__item:nth-child(3) {
    top: 560px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.service__image {
  width: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

.service__text {
  margin-top: 13px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .service__text {
    font-size: 18px;
  }
}

.profile {
  padding: 60px 0 183px;
  height: 344px;
  background-image: url(/images/profile-bg-pc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}
@media screen and (max-width: 768px) {
  .profile {
    height: 333px;
    background-image: url(/images/profile-bg-sp.jpg);
  }
}

.profile__inner {
  max-width: 1090px;
  width: 100%;
  padding: 0 109px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .profile__inner {
    flex-direction: column;
    padding: 0 53px;
  }
}

.profile__text {
  margin-top: 24px;
}

.profile__info {
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .profile__info {
    margin-left: 0;
    margin-top: 94px;
  }
}

@media screen and (max-width: 768px) {
  .md-none {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .lg-none {
    display: none;
  }
}

.md-show {
  display: none;
}
@media screen and (max-width: 768px) {
  .md-show {
    display: block;
  }
}

.section__title {
  font-size: 48px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .section__title {
    font-size: 32px;
  }
}

.section__text {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .section__text {
    font-size: 16px;
  }
}