@use "sass:math";
// 文字フォントの種類
$base-font: "Inter", sans-serif;
$second-font: "bananaslip_plus", sans-serif;
$third-font: "";

// 文字の太さ
$regular: 300;
$normal: 400;
$medium: 500;
$bold: 700;


@font-face {
  font-family: "bananaslip_plus";
  src: url("/fonts/YDWbananaslipplus.otf") format("opentype");
}